
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:200,600');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Color classes

.white {
    background-color: $white;
}

.orange {
    background-color: $orange;
}

.pink {
    background-color: $pink;
}

.blue {
    background-color: $blue;
}

.green {
    background-color: $green;
}

.red {
    background-color: $red;
}

// General purpose rules

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

span {
    display: inline-block;
    border-radius: 5px;
    width: 35px;
    height: 35px;
    font-weight: bold;
    line-height: 35px;
}

li {
    width: 80%;
    margin: auto;
    font-size: 30px;
    cursor: pointer
}

button {
    border-radius: $border-radius;
    height: 100%;
    width: 30px;
}

// Headers and containers

.title {
    font-size: 84px;
}

.m-b-md {
    margin-bottom: 30px;
}

.content {
    text-align: center;
}

.selectors {
    width: 80%;
    border: 1px solid $gray;
    margin: auto;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

// Player tiles and sliders

.dead {
    background-color: $red;
    transition: background-color 3s linear;
}

.danger {
    color: #c00000;
    border: 1px solid #c00000;
}

.selected {
    color: #109010;
    border: 1px solid #109010;
}

.tile {
    padding: 20px 0;
}

.character-name {
    width: 60%;
    margin: 0 auto 10px auto;
    padding: 10px 0;
    border: 1px solid $gray;
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    border-radius: $border-radius;
}

.slider-container {
    width: 80%;
    margin: 0 auto 10px auto;
}
